body {
          font-size: 1em;
          color: hsl(300, 10%, 35%);
}
a { text-decoration: none;}
header { color: hsl(300, 10%, 50%);
           display: flex;    
           justify-content: space-between;
           margin-bottom: .625rem;
}
.flexRight {
            display: flex;
}
.logo { 
            display: flex;
            margin: .2em;
}
.fa-search, .fa-bars { 
            display: block !important;
}
.fa-search, .fa-bars, .fa-times { 
            font-size: 1.5625rem;
            margin: .9em 1.2em;
            z-index: 10;
}
.fa-closeBackground {display: none;
            width: 80px;
            height: 80px;
            background-color: hsl(270, 35%, 50%);
            position: absolute; 
            z-index: 9;
            top: 0;
            right: 2px;
}
.fa-closeBackground2 {display: none;
            width: 80px;
            height: 80px;
            background-color: hsl(270, 35%, 50%);
            position: absolute; 
            z-index: 9;
            top: 0;
            right: 82px;
}
.fa-times { 
            display: block !important;
            background-color: hsl(270, 35%, 50%);
            color: #ffffff; 
}
.menuMobile, .searchMobile {
            width: 350px;
            height: 490px;
            background-color: hsl(270, 35%, 50%);
            position: absolute;
            top: 80px;
            z-index: 10;
            display: none;
}
.menuPanel {
            width: 305px;
            height: 346.5px;
            background-color: #ffffff;
            position: relative;
            top: 40px;
            margin: 0 auto;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: space-between;
}
.menuSocialMedia { display: flex;
            justify-content: space-around;
            margin-top: 1.5625em;
            margin-bottom: 1.5625em;
            width: 100%;
}
.mailAddres {
            display: flex;
            justify-content: flex-start;
}
.fa-envelope-square {
            font-size: 1.5625rem;
            color: hsl(270, 35%, 50%);
            margin: 0 1rem;
}
.fa-facebook-f, .fa-instagram, .fa-skype, .fa-whatsapp, .fa-viber, .fa-telegram-plane {
            display: flex;
            font-size: 1.75rem;
            color: hsl(270, 35%, 50%);
}
h1 { margin: 1.5em 0 .6em 0;
       text-align: center;
       font-size: 1.75rem;
       width: 95%;
}
.devider {margin: 0px;
padding: 0;
width: 100%;
height: 2px;
background-color: hsl(300, 10%, 35%);
}
.direction {
       text-align: center;  
       width: 98%;
       font-size: 0.875rem;
       margin-bottom: 1.2em;
}
.fa-check { 
        margin: 0 1.2em 0 0;
}
ul {  margin:0 auto; padding:0;
     list-style-type: none;
     width: 51%;
}
.wrapper {
       width: 100%;
       position: relative;
       margin-bottom: 1.2rem;
}
.request {
       color: #ffffff;
       background-color: hsl(270, 35%, 50%);
       padding: 50px, 75px, 50px, 75px;
       border-radius: 18px;
       align-self: center;
       width: 300px;
       height: 38px;
       font-size: 1em;
       display: block !important;
       text-align: center;
}
.request:focus {
       outline: none;
}
.alignCenter { //border: 1px solid Yellow;
       display: flex;
       justify-content: center;
       height: 46px;
}
.telOne, .telTwo { 
       display: flex;
       justify-content: flex-start;
       margin: 1.2em 0 .3em 0;
}
.telTwo { 
       margin: .3em 0;
}
.fa-phone-alt {
            display: flex;
            font-size: .99rem;
            color: hsl(270, 35%, 50%);
            margin: 0 .5rem 0 1rem;
}
.contacts {
           color: hsl(270, 35%, 50%);
           font-size: 0.875rem;
           display: flex;
}
.languages a { display: flex;
            font-size: 0.875rem;
            color: hsl(270, 35%, 50%);
            margin: 0 .5em;
}
.languages { 
             margin: 1.5625rem 0 .875rem .5rem;
             display: flex;
             justify-content: flex-start;
}
.howItWorks a { display: flex;
                        color: hsl(270, 35%, 50%);
                         font-size: .875rem;
                        margin-left: .875em;
}
.howItWorks  { display: flex;
                       margin: 0 0 .875rem 0;
}
.requestTwo {
       width: 16.875rem;
       height: 2.8125rem;
       border-radius: 2.1875rem;
}
.aboutUs {
           color: white;
           font-size: 1.2rem;
           margin: 5.5em 0 1em 1.2em;
           display: block;
}
.disc { font-size: 1rem;
       width: .7em;
       height: .7em;
       background-color: hsl(270, 35%, 50%);
       border-radius: 3.125em;
       display: flex;
       margin: 3em 0 1em 0;
}
.searchForm {
        display: flex;
        flex-direction: column;
         justify-content: space-around;
        align-items: center;
        width: 300px;
        height: 125px;
       // border: 3px solid Orange;
        margin: 30px auto 0 auto;
}
.searchRequest { 
        border: 1px solid #333333;
        border-radius: 1.125em;
        font-size: 1.2rem;
        color: #ffffff; 
        background-color: hsl(270, 35%, 50%);
        display: flex;
        width: 250px;
        height: 42px;
        outline: none;
        padding: 0 0 0 20px;
}
.searchRequest[placeholder] {
         color: #ffffff; 
}
.requestButton {
        border: 2px solid #ffffff; 
        border-radius: 1.125em;
        color: hsl(270, 35%, 25%);
        background-color: hsl(270, 35%, 50%);
        font-size: 1.2rem;
        display: flex; 
        width: 270px; 
        height: 42px;
        outline: none;
         padding: 0 38%;
}
/*.wrapping {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 320px;
height: 480px;
background-color: Red;
}
.inner1 {
display: flex;
width: 80px;
height: 120px;
background-color: Orange;
}
.inner2 { 
display: flex;
width: 80px;
height: 120px;
background-color: Yellow;
}*/
